/**
 * @file foo.css
 * @author lenovo
 */

body {
    color: green;
}

/*.rabbit-1,
.rabbit-2 {
    width: 100px;
    height: 100px;
}
*/
/*.rabbit-1 {
    background-image: url('../img/rabbit-1.png?__sprite=rabbit');
    background-image: url('../img/rabbit-1.png');
}

.rabbit-2 {
    background-image: url('../img/rabbit-2.png?__sprite=rabbit');
    background-image: url('../img/rabbit-2.png');
}*/
