/**
 * @file foo.scss
 * @author lenovo
 */
body {
	font-size: 16px;

	p {
		text-indent: 2em;
		margin: 1em 0;
	}
}

.big {
    font-size: 1.5em;
    color: green;
}

.rabbit-1,
.rabbit-2 {
    display: inline-block;
    span {
        display: inline-block;
        background-repeat: no-repeat;
    }
    // .icon {
    //     width: 20px;
    //     height: 24px;
    // }
}

// .rabbit-1 .icon {
//     // background-image: url('../img/rabbit-1.png?__sprite=rabbit');
//     background-image: url('../img/rabbit-1.png');

// }

// .rabbit-2 .icon {
//     // background-image: url('../img/rabbit-2.png?__sprite=rabbit');
//     background-image: url('../img/rabbit-2.png');
// }
